{
    "presets": [
        [
            "env",
            {
                "targets": { "node": 6 }
            }
        ]
    ],
    "plugins": [
        "syntax-trailing-function-commas",
        "transform-es2015-destructuring",
        "transform-es2015-parameters",
        "transform-async-to-generator",
        "transform-strict-mode",
        "transform-object-rest-spread",
        "transform-es2015-modules-commonjs",
        "transform-async-to-generator"
    ],
    "retainLines": true
}
