{
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "overrides": [
        {
            "files": "**/build/**",
            "options": {
                "trailingComma": "es5"
            }
        }
    ]
}
